<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/javascripts/<%= game_name %>.js"></script>
  </head>
  <body onload="load('<%= match_id %>');">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Wai</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <% if (user) { %>
                    <li>Hello, <%= user %></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/reg">Sign Up</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div id="container" class="container">
        <% if (success) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
        <% } %>
        <%- body %>
    </div>
  </body>
</html>
