<div class="container">
    <div class="row">
        <div class="span8" >
            <%- partial('intro_' + game_name) %>
        </div>
        <div class="span4">
            <% if (user) { %>
            <div class="well">
                <a class="btn" href="/submit_list/<%= game_name %>/<%= uid %>">My Submissions</a>
                <a class="btn" href="/match_list/<%= game_name %>/<%= uid %>">My Matches</a>
            </div>
            <div class="well">
                <h3>Submit your AI</h3>
                <form action="/submit/<%= game_name %>" method="POST" enctype="multipart/form-data">
                  <div class="controls">
                    <select name="lang">
                      <option>C++</option>
                    </select>
                  </div>
                  <div class="controls">
                    <input class="input-file" name="code" type="file">
                  </div>
                  <label class="checkbox">
                    <input type="checkbox" name="allow_view">Allow others viewing this code
                  </label>
                  <p align="center">
                  <button type="submit" class="btn btn-primary">Submit</button></p>
                </form>
            </div>
            <% } else {%>
              <div class="alert alert-warning">
                <a href="/login">Login</a> to submit your AI.
              </div>
            <% } %>
            <div class="well" id="leader-board">
                <h3><%= show_name %> Leader Board</h3>
                <table class="table table-striped">
                <thead><tr>
                  <th>Rank</th>
                  <th>Nick</th>
                  <th>Score</th>
                </tr></thead>
                <tbody>
                  <% ranklist.forEach(function(item, index) { %>
                  <%  if (index <= 4) { %>
                  <tr>
                  <td><%= index + 1 %></td>
                  <td><a href="/user/<%= item.user._id %>"><%= item.user.nick %></a></td>
                  <td><%= item.score %></td>
                  </tr>
                  <% }}); %>
                </tbody>
                </table>
                <a href="/ranklist/<%= game_name %>">View Full Ranklist</a> &nbsp; &nbsp;
                <a href="/submit_list/<%= game_name %>/all">View All Submits</a>
            </div>
            <% if (hvc !== 0) { %>
            <div class="well">
              <h3>Human vs. Computer</h3>
              <p>This game support Human vs. Computer (HvC) feature.</p>
              <p>Are you clever than computer AI? Try the HvC now!</p>
              <p><!-- <a class="btn" href="#">Pick random AI</a>&nbsp; -->
                <a class="btn" href="/submit_list/<%= game_name %>/all">List All AIs</a></p>
            </div>
            <% } %>
        </div>
    </div>
</div>

