<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">WAI<sup>alpha</sup></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/game_list">Games</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <% if (user) { %>
                    <li><a href="/submit_list/all/<%= user_id %>">My Submitions</a></li>
                    <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/reg">Sign Up</a></li>
                    <% } %>
                </ul>
                <% if (user) { %>
                <ul class="nav pull-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/change_passwd">Change Password</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
                <% } %>
            </div>
        </div>
        </div>
    </div>
    <div id="container" class="container">
        <% if (success) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
        <% } %>
        <%- body %>
    </div>
    <hr>
    <footer class="footer">
      <p align="center">Copyright &copy; 2012-2013 | He Liang (RoBa) | Powered by <a href="http://nodejs.org">Node.js</a> and <a href="http://twitter.github.com/bootstrap">Bootstrap</a><br>
      Server Time: <%= new Date() %>
      </p>
    </footer>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
  </body>
</html>
