<table class="table table-striped">
  <thead>
    <tr>
      <th>Black Uid</th>
      <th>Black Sid</th>
      <th>White Uid</th>
      <th>White Sid</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% matches.forEach(function(match, index) { %>
    <tr>
      <td><%= match.user_id1 %></td>
      <td><%= match.submit_id1 %></td>
      <td><%= match.user_id2 %></td>
      <td><%= match.submit_id2 %></td>
      <td><% if (match.result === 0) { %>
        Pending
      <% } else if (match.result === 1) { %>
        Running
      <% } else if (match.result === 2) { %>
        <%= match.result_str %>
        &nbsp; &nbsp; <a href="/arena/replay/<%= match.game_name %>/<%= match.match_id %>">View</a>
      <% } %> 
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
