<%
function pad(v) {
  if (v < 10) return '0' + v;
  return '' + v;
}
%>
<script>
$(document).ready(function () {
  if ($("[rel=tooltip]").length) {
    $("[rel=tooltip]").tooltip();
  }
});
</script>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Black</th>
      <th>White</th>
      <th>Start Time</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% matches.forEach(function(match, index) { %>
    <tr>
      <td><%= match.nick1 %>
        <span class="badge">v<%= match.version1 %></span>
        <% if (match.flg1 !== 1) { %>
          <span class="label label-warning">Dep</span>
        <% } %>
      </td>
      <td><%= match.nick2 %>
        <span class="badge">v<%= match.version2 %></span>
        <% if (match.flg2 !== 1) { %>
          <span class="label label-warning">Dep</span>
        <% } %>
      </td>
      <td><%= match.date ? match.date.getFullYear()
          + "-" + pad(match.date.getMonth()+1)
          + "-" + pad(match.date.getDate())
          + " " + pad(match.date.getHours())
          + ":" + pad(match.date.getMinutes())
          + ":" + pad(match.date.getSeconds()) : "N/A"%></td>
      <td>
        <% if (match.status === 0) { %>
          Pending
        <% } else if (match.status === 1) { %>
          Running
        <% } else if (match.status === 4) { %>
          Canceled
        <% } else if (match.status === 2) { %>
          <div rel="tooltip" title="<%= match.reason %>"><%= match.result_str %>
          &nbsp;
          <a href="/arena/replay/<%= match.game_name %>/<%= match.match_id %>">View</a>
          <% if (is_admin) { %>
            &nbsp; <a href="/rejudge/<%= match.match_id %>">Re-run</a>
          <% } %>
          </div>
        <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
