    <h2>Rank List for Game <%= game_name %></h2>
    <table class="table table-striped">
    <thead><tr>
      <th>Rank</th>
      <th>Nick</th>
      <th>Score</th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% ranklist.forEach(function(item, index) { %>
      <tr>
      <td><%= index %></td>
      <td><a href="/user/<%= item.user._id %>"><%= item.user.nick %></a></td>
      <td><%= item.score %></td>
      <td><a href="/submit_list/<%= game_name %>/<%= item.user._id %>">Submition Histroy</a></td>
      <td><a href="/match_list/<%= game_name %>/<%= item.user._id %>">Match Details</a></td>
      </tr>
      <% }); %>
    </tbody>
    </table>
