<%
function pad(v) {
  if (v < 10) return '0' + v;
  return '' + v;
}
%>
<ul class="pager">
  <li class="previous"><a href="/submit_list/<%= game_name %>/<%= get_user_id %>/<%= page_num+1 %>">Older</a></li>
  <li class="next <%= page_num == 0 ? 'disabled' : '' %>" ><a href="/submit_list/<%= game_name %>/<%= get_user_id %>/<%= page_num-1 < 0 ? 0 : page_num-1  %>">Newer</a></li>
</ul>
<table class="table table-striped">
  <thead>
    <tr><th>User</th><th>Game</th><th>Version</th><th>Submit Date</th><th>Size</th><th>Status</th></tr>
  </thead>
  <tbody>
    <% submits.forEach(function(submit, index) { %>
    <tr>
      <td><a href="/user/<%= submit.user_id %>"><%= submit.user_nick %></a></td>
      <td><a href="/game/<%= submit.game_name %>"><%= submit.game_name %></td>
      <td><%= submit.version %></td>
      <td><%= submit.date.getFullYear()
          + "-" + pad(submit.date.getMonth()+1)
          + "-" + pad(submit.date.getDate())
          + " " + pad(submit.date.getHours())
          + ":" + pad(submit.date.getMinutes())
          + ":" + pad(submit.date.getSeconds()) %></td>
      <td><a href="/view_code/<%= submit._id %>"><%= submit.size.toFixed(2) %> KB</a></td>
      <td><% if (submit.status === 0) { %>
        Waiting
      <% } else if (submit.status === 1) { %>
        <a href="/view_code/<%= submit._id %>">Compile Error</a>
      <% } else if (submit.status === 2) { %>
        Compile Success &nbsp; &nbsp;
        <a href="/arena/hvc/<%= submit.game_name %>/<%= submit._id %>">HvC</a>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
</table>

